automations/multi-page-web-scraper/workflow.json
{
    "id": "x8PC9K3CQCTMxKCl",
    "meta": {
        "instanceId": "community-template",
        "templateCredsSetupCompleted": true
    },
    "name": "Configurable Multi-Page Web Scraper Template",
    "tags": [],
    "nodes": [
        {
            "id": "d9c48247-9b7d-4ef7-87b3-2a0109d12e77",
            "name": "Start",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                176,
                240
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "4f24aada-20c6-4ee4-b785-512d35e8e540",
            "name": "Input",
            "type": "n8n-nodes-base.set",
            "position": [
                416,
                240
            ],
            "parameters": {
                "mode": "raw",
                "options": {},
                "jsonOutput": "{\n  \"startUrl\": \"https://quotes.toscrape.com/tag/humor/\",\n  \"nextPageSelector\": \"li.next a[href]\",\n  \"fields\": [\n    {\n      \"name\": \"author\",\n      \"selector\": \"span > small.author\",\n      \"value\": \"text\"\n    },\n    {\n      \"name\": \"text\",\n      \"selector\": \"span.text\",\n      \"value\": \"text\"\n    }\n  ]\n}\n"
            },
            "typeVersion": 3.4
        },
        {
            "id": "84f17c31-7bfb-4cc3-b3a2-9483f239a885",
            "name": "Get Start URL",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                656,
                240
            ],
            "parameters": {
                "url": "={{ $json.startUrl }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text",
                            "outputPropertyName": "content"
                        }
                    }
                }
            },
            "typeVersion": 4.2
        },
        {
            "id": "2f8d0c78-7d85-4a39-b941-2dcc1a36ba9e",
            "name": "Next Page Input",
            "type": "n8n-nodes-base.set",
            "position": [
                1376,
                240
            ],
            "parameters": {
                "options": {},
                "assignments": {
                    "assignments": [
                        {
                            "id": "e8879b7e-1bda-451f-b83b-68b9d3ed1e2a",
                            "name": "startUrl",
                            "type": "string",
                            "value": "=https://{{ $('Input').item.json.startUrl.extractDomain() }}{{ $json.nextPage }}"
                        },
                        {
                            "id": "d2c403d4-fabb-4961-a202-4690c9f8e990",
                            "name": "nextPageSelector",
                            "type": "string",
                            "value": "={{ $('Input').item.json.nextPageSelector }}"
                        },
                        {
                            "id": "2b2e5ccc-c467-47cb-83b1-f401bb2812f9",
                            "name": "fields",
                            "type": "array",
                            "value": "={{ $('Input').item.json.fields }}"
                        }
                    ]
                }
            },
            "typeVersion": 3.4
        },
        {
            "id": "732965f7-fdff-421c-8c41-daeb0ec4ffc0",
            "name": "Split Out Fields",
            "type": "n8n-nodes-base.splitOut",
            "position": [
                656,
                48
            ],
            "parameters": {
                "options": {},
                "fieldToSplitOut": "fields"
            },
            "typeVersion": 1
        },
        {
            "id": "e94991c0-8dec-468b-993a-45426fe737b4",
            "name": "Merge HTML and Fields",
            "type": "n8n-nodes-base.merge",
            "position": [
                896,
                48
            ],
            "parameters": {
                "mode": "combine",
                "options": {},
                "combineBy": "combineAll"
            },
            "typeVersion": 3.2
        },
        {
            "id": "7d4b957e-daa7-4017-9235-d107a5ff112d",
            "name": "Scrape Fields",
            "type": "n8n-nodes-base.html",
            "position": [
                1136,
                48
            ],
            "parameters": {
                "options": {},
                "operation": "extractHtmlContent",
                "dataPropertyName": "content",
                "extractionValues": {
                    "values": [
                        {
                            "key": "={{ $json.name }}",
                            "cssSelector": "={{ $json.selector }}",
                            "returnArray": true,
                            "returnValue": "={{ $json.value }}"
                        }
                    ]
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "804fd9f9-167e-41c2-a023-b95b227d221a",
            "name": "Scrape Next Page Link",
            "type": "n8n-nodes-base.html",
            "position": [
                896,
                240
            ],
            "parameters": {
                "options": {},
                "operation": "extractHtmlContent",
                "dataPropertyName": "content",
                "extractionValues": {
                    "values": [
                        {
                            "key": "=nextPage",
                            "attribute": "href",
                            "cssSelector": "={{ $('Input').item.json.nextPageSelector }}",
                            "returnValue": "attribute"
                        }
                    ]
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "b7ddc82c-c87b-455b-b629-355daecdd9bb",
            "name": "If Next Page Link",
            "type": "n8n-nodes-base.if",
            "position": [
                1136,
                240
            ],
            "parameters": {
                "options": {},
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "a1f84a0d-26a8-417c-99a0-329060ca258b",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.nextPage }}",
                            "rightValue": ""
                        },
                        {
                            "id": "89dd5fa6-0e12-43bc-a7ed-37844e16d627",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.nextPage }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "98c2a9aa-3673-4852-8ee8-c9cea73c9c99",
            "name": "Aggregate Fields",
            "type": "n8n-nodes-base.aggregate",
            "position": [
                1376,
                48
            ],
            "parameters": {
                "options": {},
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "fields"
            },
            "typeVersion": 1
        },
        {
            "id": "a65c6d07-1d6f-4ca0-be8a-2ca5cfa7044e",
            "name": "Split Out Items",
            "type": "n8n-nodes-base.splitOut",
            "position": [
                1616,
                48
            ],
            "parameters": {
                "options": {
                    "destinationFieldName": "={{ $json.fields.map(item => item.keys()[0]).join() }}"
                },
                "fieldToSplitOut": "={{ $json.fields.map((item, index) => 'fields[' + index + '].' + item.keys()[0]).join() }}"
            },
            "typeVersion": 1
        },
        {
            "id": "c9ba233f-4d6e-4771-9dbc-3af8df4f2594",
            "name": "Store Scraped Data",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                1856,
                48
            ],
            "parameters": {
                "columns": {
                    "value": {},
                    "schema": [],
                    "mappingMode": "autoMapInputData",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {
                    "useAppend": true
                },
                "operation": "append",
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gid=0",
                    "cachedResultName": "Sheet1"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "YOUR_SPREADSHEET_ID",
                    "cachedResultName": "Web Scraper Results"
                },
                "authentication": "serviceAccount"
            },
            "credentials": {
                "googleApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Service Account"
                }
            },
            "typeVersion": 4.7
        }
    ],
    "active": false,
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "connections": {
        "Input": {
            "main": [
                [
                    {
                        "node": "Get Start URL",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Out Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Start": {
            "main": [
                [
                    {
                        "node": "Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Start URL": {
            "main": [
                [
                    {
                        "node": "Merge HTML and Fields",
                        "type": "main",
                        "index": 1
                    },
                    {
                        "node": "Scrape Next Page Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Fields": {
            "main": [
                [
                    {
                        "node": "Aggregate Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Next Page Input": {
            "main": [
                [
                    {
                        "node": "Get Start URL",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Out Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Items": {
            "main": [
                [
                    {
                        "node": "Store Scraped Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Fields": {
            "main": [
                [
                    {
                        "node": "Split Out Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Fields": {
            "main": [
                [
                    {
                        "node": "Merge HTML and Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Next Page Link": {
            "main": [
                [
                    {
                        "node": "Next Page Input",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Merge HTML and Fields": {
            "main": [
                [
                    {
                        "node": "Scrape Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Next Page Link": {
            "main": [
                [
                    {
                        "node": "If Next Page Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "tags": [
        {
            "name": "tech"
        }
    ]
}