automations/ai-content-summariser/workflow.json
{
    "name": "AI Content Summariser",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "summarise",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "replace-with-your-webhook-id"
        },
        {
            "parameters": {
                "url": "={{ $json.body.url }}",
                "options": {}
            },
            "id": "2",
            "name": "HTTP Request — Fetch Page",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract main text content from HTML\nconst html = $input.first().json.data;\n// Simple extraction: strip tags and collapse whitespace\nconst text = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 12000);\n\nreturn [{ json: { text, url: $('Webhook').first().json.body.url } }];"
            },
            "id": "3",
            "name": "Extract Text",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list"
                },
                "messages": {
                    "values": [
                        {
                            "content": "You are a research assistant. Summarise the following article into structured Markdown with sections: ## Summary, ## Key Points, ## Why It Matters."
                        },
                        {
                            "role": "user",
                            "content": "=URL: {{ $json.url }}\n\n---\n\n{{ $json.text }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "4",
            "name": "OpenAI — Summarise",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.7,
            "position": [
                960,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { summary: $json.message.content, url: $('Extract Text').first().json.url } }}",
                "options": {}
            },
            "id": "5",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HTTP Request — Fetch Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request — Fetch Page": {
            "main": [
                [
                    {
                        "node": "Extract Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text": {
            "main": [
                [
                    {
                        "node": "OpenAI — Summarise",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI — Summarise": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "ai"
        }
    ]
}